@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.menu-show {
  max-height: 400px !important; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  display: block;
  text-decoration: none; }

body {
  font-family: sans-serif,微軟正黑體; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.header {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem; }
  .header .logo {
    background-image: url(../images/logo_w.svg);
    width: 120px;
    height: 24px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .header .logo:hover, .header .logo:active {
      opacity: 0.8; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .menu li a {
    padding: 1.25rem 1rem;
    color: #fff;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .header .menu li a:hover {
      background-color: #fff;
      color: #000; }
  .header .showmenu {
    display: none; }
  @media (max-width: 576px) {
    .header .container {
      padding: 0 1rem; }
    .header .menu {
      text-align: center;
      font-size: 1.25rem;
      background: rgba(0, 0, 0, 0.75);
      /*隱藏選單開始*/
      max-height: 0px;
      overflow: hidden;
      /*隱藏選單結束*/
      -webkit-transition: max-height 0.8s;
      -o-transition: max-height 0.8s;
      transition: max-height 0.8s;
      /*絕對定位疊在網頁上*/
      position: absolute;
      /*z-index 決定元素排列順序*/
      z-index: 100;
      /*header 56px*/
      top: 56px;
      left: 0;
      right: 0;
      /*改為直向排列選單*/
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header .showmenu {
      display: block;
      margin: 1rem 0;
      font-size: 1.5rem;
      color: #fff;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .header .showmenu:hover, .header .showmenu:active {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); } }

.banner {
  background: black;
  background-image: url(../images/header_desktop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 420px; }
  .banner .slogan {
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 1.25rem 2rem;
    text-align: center; }
  .banner h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 1rem; }
    .banner h2 br {
      display: none; }
  .banner h3 {
    line-height: 1.5; }
  @media (max-width: 576px) {
    .banner {
      background-image: url(../images/header_mobile.png); }
      .banner .slogan {
        padding: 1.25rem 1rem; }
      .banner h2 br {
        display: block; } }

.footer {
  background-color: #EfE9E7;
  color: #3D1101; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.125rem 2.625rem;
    width: 100%; }
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .footer p, .footer li a {
    line-height: 1.5; }
  .footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .about .about-info {
      width: 300px;
      margin-right: 1.25rem; }
  .footer .contact ul {
    list-style: disc;
    padding-left: 1.25rem; }
  .footer .contact li a {
    color: #3D1101; }
    .footer .contact li a:hover {
      text-decoration: underline; }
  .footer .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .icon .footer-logo a {
      background-image: url(../images/logo_l.svg);
      width: 243px;
      height: 48px;
      margin-bottom: 1.5rem;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .footer .icon .footer-logo a:hover, .footer .icon .footer-logo a:active {
        opacity: 0.8; }
  .footer .icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer .icon ul li a img {
      width: 36px;
      height: 32px;
      margin-left: 0.75rem;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .footer .icon ul li a img:hover, .footer .icon ul li a img:active {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  @media (max-width: 992px) {
    .footer .about {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .footer .about-info, .footer .contact {
      margin-bottom: 2rem; } }
  @media (max-width: 768px) {
    .footer .container {
      padding: 3rem 0.75rem; }
    .footer .about .about-info {
      margin-right: 0;
      width: 280px; }
    .footer .icon {
      -ms-flex-item-align: start;
          align-self: flex-start; } }
  @media (max-width: 576px) {
    .footer .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 5rem; }
    .footer .icon {
      width: 100%; }
      .footer .icon .footer-logo {
        -ms-flex-item-align: end;
            align-self: flex-end; } }

.scroll-top a {
  background-color: #F56C23;
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 3%;
  opacity: 0.8;
  display: none; }
  .scroll-top a:hover {
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .scroll-top a i {
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    color: #fff; }

.feature {
  background-color: #EfE9E7;
  color: #3D1101; }
  .feature .container {
    padding: 3rem 0; }
  .feature h2 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.6;
    position: relative;
    margin-bottom: 2rem; }
    .feature h2::before {
      left: 20%;
      content: '';
      width: 12%;
      height: 1px;
      position: absolute;
      top: 50%;
      background-color: #979797; }
    .feature h2::after {
      right: 20%;
      content: '';
      width: 12%;
      height: 1px;
      position: absolute;
      top: 50%;
      background-color: #979797; }
  .feature .feature-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .feature .feature-info li {
    margin: 0 auto 2rem auto; }
    .feature .feature-info li img {
      margin: 0 auto 1.5rem auto;
      border-radius: 50%; }
    .feature .feature-info li h3 {
      text-align: center;
      font-size: 1.125rem;
      margin-bottom: 0.75rem; }
    .feature .feature-info li p {
      line-height: 1.3;
      width: 260px; }
  @media (max-width: 992px) {
    .feature .feature-info li p {
      width: 250px; } }
  @media (max-width: 768px) {
    .feature h2::before, .feature h2::after {
      height: 0; }
    .feature .feature-info {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .feature .feature-info li p {
      width: 350px;
      line-height: 1.5; } }
  @media (max-width: 576px) {
    .feature .feature-info li p {
      width: 260px;
      line-height: 1.3; } }

.chef {
  background-color: #3D1101;
  color: #EfE9E7;
  overflow: hidden; }
  .chef .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .chef .chef-info {
    padding: 2rem; }
    .chef .chef-info h2 {
      font-size: 1.25rem;
      line-height: 1.6; }
    .chef .chef-info h3 {
      margin-bottom: 1rem; }
    .chef .chef-info p {
      line-height: 1.3; }
  @media (max-width: 992px) {
    .chef img {
      width: 50%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .chef .chef-info {
      width: 50%; } }
  @media (max-width: 768px) {
    .chef .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 2rem; }
    .chef img {
      max-width: 100%; }
    .chef .chef-info {
      width: 410px; } }
  @media (max-width: 576px) {
    .chef .container {
      padding: 0; }
    .chef img {
      width: 100%; }
    .chef .chef-info {
      margin: 0 auto;
      width: 100%; } }

.review {
  background-color: #EfE9E7;
  color: #3D1101; }
  .review .container {
    padding: 3rem 0; }
  .review h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .review .review-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .review .review-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0.75rem; }
    .review .review-info li img {
      border-radius: 50%;
      width: 65px; }
    .review .review-info li span {
      display: block;
      margin-left: 0.75rem; }
      .review .review-info li span h3 {
        margin: 1.5rem 0;
        font-size: 1.125rem; }
      .review .review-info li span p {
        width: 220px;
        line-height: 1.5;
        margin-bottom: 1rem; }
      .review .review-info li span h4 {
        color: rgba(61, 17, 0, 0.75);
        text-align: end; }
  @media (max-width: 992px) {
    .review .review-info li span p {
      width: 155px; } }
  @media (max-width: 768px) {
    .review .review-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .review .review-info li {
        margin-bottom: 2rem; }
      .review .review-info li span p {
        width: 220px; } }

.booking {
  background-color: rgba(250, 250, 250, 0.7);
  color: #3D1101;
  overflow: hidden; }
  .booking .container {
    padding: 3rem 2.5rem; }
  .booking h2 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 2.5rem; }
  .booking .booking-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .booking form {
    width: 100%;
    margin-left: 1.25rem; }
    .booking form label, .booking form input {
      display: block;
      width: 100%; }
    .booking form label {
      margin-bottom: 0.5rem; }
    .booking form input {
      height: 32px;
      border-radius: 3px;
      border: 1px solid #bbbbbb;
      padding-left: 0.75rem;
      margin-bottom: 0.75rem; }
    .booking form .vegan {
      margin-bottom: 2rem; }
      .booking form .vegan p {
        margin-bottom: 0.5rem; }
    .booking form .vegan .checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .booking form .vegan .checkbox label {
        display: block;
        width: 24px; }
      .booking form .vegan .checkbox input {
        display: block;
        margin-top: 0.25rem;
        margin-right: 2.25rem;
        width: 20px; }
    .booking form .btn {
      text-align: end; }
    .booking form .close {
      background: rgba(0, 0, 0, 0.35);
      border-radius: 3px;
      color: #fff;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .booking form .close:hover, .booking form .close:active {
        opacity: 0.8; }
    .booking form .submit {
      background: #F56C23;
      border-radius: 3px;
      color: #fff;
      margin-left: 0.75rem;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .booking form .submit:hover, .booking form .submit:active {
        opacity: 0.8; }
  @media (max-width: 992px) {
    .booking .booking-info img {
      width: 386px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .booking .booking-info form {
      width: 386px; } }
  @media (max-width: 768px) {
    .booking .booking-info img {
      width: 50%; }
    .booking .booking-info form {
      width: 50%; } }
  @media (max-width: 576px) {
    .booking .booking-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .booking .booking-info img {
        width: 100%;
        margin-bottom: 2rem; }
      .booking .booking-info form {
        width: 100%;
        margin: 0 auto; } }

.product {
  background-color: #EfE9E7;
  color: #3D1101; }
  .product .container {
    padding: 3.125rem 2.625rem 0 2.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .product .nav {
    margin-right: 1.25rem; }
    .product .nav h2 {
      font-size: 1.25rem;
      line-height: 1.6;
      padding-left: 0.5rem;
      margin-bottom: 1rem; }
      .product .nav h2 i {
        margin-right: 1rem;
        font-size: 1.5rem; }
    .product .nav ul li a {
      color: #3D1101;
      width: 220px;
      line-height: 2;
      border-bottom: 1px solid #3D1101;
      padding-left: 0.5rem;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .product .nav ul li a:hover, .product .nav ul li a:active {
        background-color: #3D1101;
        color: #fff; }
    .product .nav ul li:nth-child(4) a {
      background-color: #3D1101;
      color: #fff; }
  .product .shopping {
    max-width: 100%; }
  .product .shopping-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.625rem; }
    .product .shopping-head .search {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .product .shopping-head .search input {
      width: 460px;
      height: 32px;
      border: 2px solid #3D1101;
      background-color: #EfE9E7; }
    .product .shopping-head .search a i {
      background-color: #3D1101;
      color: #fff;
      font-size: 1.25rem;
      padding: 0.375rem;
      position: absolute;
      right: 0; }
    .product .shopping-head .cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .product .shopping-head .cart a {
      color: #3D1101; }
      .product .shopping-head .cart a:hover, .product .shopping-head .cart a:active {
        color: #F56C23; }
    .product .shopping-head .cart a i {
      position: relative;
      font-size: 1.5rem;
      margin: 0 1rem; }
      .product .shopping-head .cart a i span {
        position: absolute;
        color: #fff;
        border: 1px solid #EfE9E7;
        background-color: #F56C23;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%;
        font-size: 0.75rem;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        -webkit-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
                transform: translate(50%, -50%); }
  .product .shopping-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product .shopping-menu li {
    width: 220px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    margin-bottom: 1.875rem; }
    .product .shopping-menu li:hover, .product .shopping-menu li:active {
      -webkit-box-shadow: 0 0 10px #F56C23;
              box-shadow: 0 0 10px #F56C23; }
    .product .shopping-menu li .photos {
      position: relative; }
      .product .shopping-menu li .photos img {
        -o-object-fit: cover;
           object-fit: cover;
        height: 120px;
        margin-bottom: 0.75rem; }
      .product .shopping-menu li .photos i {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.5rem;
        color: #fff; }
      .product .shopping-menu li .photos .ribbon-wrap {
        position: absolute;
        width: 100px;
        height: 100px;
        overflow: hidden;
        top: -5px;
        right: -5px; }
      .product .shopping-menu li .photos .ribbon-wrap .ribbon {
        position: relative;
        color: #fff;
        background-color: #00cc99;
        font-size: 0.875rem;
        top: 16px;
        right: 10px;
        width: 160px;
        padding: 0.5rem;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-box-shadow: 0 4px 8px #bbb;
                box-shadow: 0 4px 8px #bbb; }
    .product .shopping-menu li h3 {
      font-size: 1.25rem;
      line-height: 1.3; }
    .product .shopping-menu li h4 {
      font-size: 0.75rem; }
    .product .shopping-menu li hr {
      background-color: #3D1101;
      width: 50%;
      margin-bottom: 1.125rem; }
    .product .shopping-menu li .price {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem; }
  .product .shopping-menu li > a {
    width: 90%;
    color: #F56C23;
    border: 2px solid #F56C23;
    border-radius: 3px;
    padding: 0.375rem 0;
    margin: 0 5% 0.875rem 5%;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .product .shopping-menu li > a i {
      margin-right: 0.5rem; }
    .product .shopping-menu li > a:hover, .product .shopping-menu li > a:active {
      background-color: #F56C23;
      color: #fff; }
  @media (max-width: 992px) {
    .product .container {
      padding: 3.125rem 1rem 0 1rem; }
    .product .shopping-head .search input {
      width: 380px; }
    .product .shopping-head .cart a i {
      margin: 0 0 0 1rem; }
    .product .shopping-menu li {
      width: 200px; } }
  @media (max-width: 768px) {
    .product .nav ul li a {
      width: 170px; }
    .product .shopping .shopping-head {
      display: block; }
      .product .shopping .shopping-head .search input {
        display: block;
        width: 100%;
        margin-bottom: 1.25rem; }
      .product .shopping .shopping-head .cart {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-right: 0.75rem; } }
  @media (max-width: 576px) {
    .product .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .product .nav {
      margin: 0 auto 1.5rem auto;
      width: 100%; }
      .product .nav ul li a {
        width: 100%; }
    .product .shopping .shopping-menu {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .product .shopping .shopping-menu li {
        width: 300px; } }

.login {
  background-color: #EfE9E7;
  color: #3D1101; }
  .login .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 0 0; }
  .login .main-logo a {
    background-image: url(../images/logo_l.svg);
    width: 243px;
    height: 48px;
    margin: 0 auto 0.5rem auto;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .login .main-logo a:hover, .login .main-logo a:active {
      opacity: 0.8; }
  .login h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2.25rem; }
  .login form {
    border-top: 3px solid #F56C23;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    padding: 1rem;
    width: 300px; }
    .login form h3 {
      text-align: center;
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 1rem; }
    .login form label, .login form input {
      display: block; }
    .login form label {
      margin-bottom: 0.25rem; }
    .login form input {
      width: 100%;
      border: 1px solid #bbbbbb;
      height: 32px;
      border-radius: 3px;
      padding-left: 34px; }
    .login form .email {
      position: relative;
      margin-bottom: 1rem; }
      .login form .email i {
        position: absolute;
        left: 11px;
        top: 50%;
        -webkit-transform: translateY(10%);
            -ms-transform: translateY(10%);
                transform: translateY(10%);
        opacity: 0.5; }
    .login form .password {
      position: relative; }
      .login form .password i {
        position: absolute;
        left: 12px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 0.5; }
    .login form .email a, .login form .password a {
      font-size: 0.875rem;
      color: #F56C23;
      padding: 0.25rem 0;
      margin-bottom: 2rem; }
      .login form .email a:hover, .login form .password a:hover {
        text-decoration: underline; }
    .login form .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .login form .register-btn {
      background: rgba(0, 0, 0, 0.35);
      color: #fff;
      padding: 0.5rem 2.875rem;
      border-radius: 3px;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .login form .register-btn:hover, .login form .register-btn:active {
        opacity: 0.8; }
    .login form .login-btn {
      background-color: #F56C23;
      color: #fff;
      padding: 0.5rem 2.875rem;
      border-radius: 3px;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .login form .login-btn:hover, .login form .login-btn:active {
        opacity: 0.8; }

.register {
  background-color: #EfE9E7;
  color: #3D1101; }
  .register .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 0 0; }
  .register .main-logo a {
    background-image: url(../images/logo_l.svg);
    width: 243px;
    height: 48px;
    margin: 0 auto 0.5rem auto;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .register .main-logo a:hover, .register .main-logo a:active {
      opacity: 0.8; }
  .register h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2.25rem; }
  .register form {
    border-top: 3px solid #F56C23;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    padding: 1rem; }
  .register h3 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .register .form-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .register .terms {
    margin-right: 1.25rem; }
    .register .terms h5 {
      font-size: 1.125rem;
      margin-bottom: 0.5rem; }
    .register .terms p {
      font-size: 0.875rem;
      line-height: 1.3;
      width: 285px; }
  .register .form-input label, .register .form-input input {
    display: block; }
  .register .form-input label {
    margin-bottom: 0.25rem; }
  .register .form-input input {
    width: 285px;
    border: 1px solid #bbbbbb;
    height: 32px;
    border-radius: 3px;
    padding-left: 34px; }
  .register .form-input .email {
    position: relative;
    margin-bottom: 1rem; }
    .register .form-input .email i {
      position: absolute;
      left: 11px;
      top: 50%;
      -webkit-transform: translateY(10%);
          -ms-transform: translateY(10%);
              transform: translateY(10%);
      opacity: 0.5; }
  .register .form-input .password {
    margin-bottom: 0.75rem;
    position: relative; }
    .register .form-input .password i {
      position: absolute;
      left: 12px;
      top: 70%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0.5; }
  .register .form-input .confirm-password {
    position: relative; }
    .register .form-input .confirm-password i {
      position: absolute;
      left: 12px;
      top: 30%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0.5; }
  .register .form-input .confirm-password a {
    font-size: 0.875rem;
    color: #F56C23;
    padding: 0.25rem 0;
    margin-bottom: 2rem; }
    .register .form-input .confirm-password a:hover {
      text-decoration: underline; }
  .register .form-input .btn {
    text-align: end; }
    .register .form-input .btn .register-btn {
      background-color: #F56C23;
      color: #fff;
      padding: 0.5rem 2.875rem;
      border-radius: 3px;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .register .form-input .btn .register-btn:hover, .register .form-input .btn .register-btn:active {
        opacity: 0.8; }
  @media (max-width: 768px) {
    .register .terms p {
      width: 250px; }
    .register .form-input input {
      width: 250px; } }
  @media (max-width: 576px) {
    .register form {
      margin: 1rem; }
    .register .form-body {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .register .terms {
      margin: 0 auto 1.5rem auto; }
      .register .terms p {
        width: 100%; }
    .register .form-input {
      width: 100%; }
      .register .form-input input {
        width: 100%; } }

/*# sourceMappingURL=all.css.map */
